*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
}

.containergaleria{
    position: relative;
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15.625em;
    grid-gap: 1.25em;
    padding: 5.25em 0;
    a{
        text-decoration: none;
    }
}

.containergaleria figure{
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0rem 0.525rem 0.525rem rgba(0, 0, 0, 0.5);
}


.containergaleria figure img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transition: all ease-in-out 500ms;
    object-fit: cover;
}

.containergaleria figure .capa{
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    background: rgba(84, 83, 83, 0.5);
    transition: all ease-in-out 500ms;
    color: white;
    text-shadow: black;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.capa h3{
    color: white;
    text-shadow: 0rem 0.525rem 0.525rem rgba(0, 0, 0, 0.5);
}

.containergaleria figure img:hover, .capa:hover{
    transform: scale(1.05);
    transition: all ease-in-out 500ms;
    border-radius: 6px;
}

.containergaleria figure:hover > .capa{
        visibility: visible;
        opacity: 1;
        transform: scale(1.05);
        transition: all ease-in-out 500ms;
        border-radius: 6px;
}

/*------------------ Media queries ------------------*/

@media screen and (max-width: 600px) {
    .containergaleria {
        padding: 1rem;
        margin: 0%;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 10rem;
        grid-auto-rows: 10rem;
    }
}