*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
}

.intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 200;
    background-color: white;
    line-height: 90vh;
}

.intro.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -10;
    background-color: white;
    line-height: 90vh;
    transition: all 0.5s;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 5s ease-in-out forwards;
}

body{
    display: flex;
    display: grid;
    font-family: Verdana;
    text-decoration: none;
    a:hover{
        color: lightcoral;
    }
    width: 100vw;
    height: 100vh;
}

.containerindex{
    position: relative;
    width: 90%;
    max-height: auto;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15.625em;
    grid-gap: 1.25em;
    padding: 5.25em 0;
    a{
        text-decoration: none;
    }
}

.containerindex figure{
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0rem 0.525rem 0.525rem rgba(0, 0, 0, 0.5);
}

figure:nth-child(1){
    grid-column-start: span 3;

}

.containerindex figure img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transition: all ease-in-out 500ms;
    object-fit: cover;
}

.containerindex figure .capa{
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    background: rgba(84, 83, 83, 0.5);
    transition: all ease-in-out 500ms;
    color: white;
    text-shadow: black;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.capa h3{
    color: white;
    text-shadow: 0rem 0.525rem 0.525rem rgba(0, 0, 0, 0.5);
}

.containerindex figure img:hover, .capa:hover{
    transform: scale(1.05);
    transition: all ease-in-out 500ms;
    border-radius: 6px;
}

.containerindex figure:hover > .capa{
        visibility: visible;
        opacity: 1;
        transform: scale(1.05);
        transition: all ease-in-out 500ms;
        border-radius: 6px;
}
