{%extends 'base/base.html' %}

{%block title%}Artistas{%endblock%}

{%block content%}
        <article class="perfil-de-artista">
            <img src="#" alt="Insert profile photo" id="foto-artista">
            <h4 id="nombre-artista">Nombre artista</h4>
            <button class="button-perfil">Ver Perfil</button>
        </article>

        <section class="seccion-de-ilustradores">
            <div class="nombre-de-seccion">
                <img src="IMG/logo-ilustracion.png" alt="logo-ilustracion">
                <h2>Ilustradores</h2>
            </div>
            <section id="ilustracion"></section>
        </section>

        <section class="seccion-de-fotografos">
            <div class="nombre-de-seccion">
                <img src="IMG/logo-camara.png" alt="logo-fotografia">
                <h2>Fotografos</h2>
            </div>
            <section id="fotografia"></section>
        </section>

        <section class="seccion-de-ceramica">
            <div class="nombre-de-seccion">
                <img src="IMG/logo-ceramica.png" alt="logo-ceramica">
                <h2>Ceramistas</h2>
            </div>
            <section id="ceramica"></section>
        </section>

        <section class="seccion-de-esculturas">
            <div class="nombre-de-seccion">
                <img src="IMG/logo-escultura.png" alt="logo-escultura">
                <h2>Escultores</h2>
            </div>
            <section id="escultura"></section>
        </section>
{%endblock%}