{%extends 'base/base.html' %}

{%block title%}Cerámica{%endblock%}

{%block content%}
        <section class="contenedor-de-obras">
            <article class="articulo-en-venta">
                <img src="IMG/ceramica-1.jpg" alt="Insert photo" class="foto-articulo">
                <h3>Set de 6 piezas</h3>
                <h3>Precio: $200.00</h3>
                <button class="button-comprar">Comprar</button>
            </article>
    
            <article class="articulo-en-venta">
                <img src="IMG/ceramica-9.jpg" alt="Insert photo" class="foto-articulo">
                <h3>Maceta Pulpito</h3>
                <h3>Precio: $0.00</h3>
                <button class="button-comprar">Comprar</button>
            </article>
    
            <article class="articulo-en-venta">
                <img src="IMG/ceramica-3.jpg" alt="Insert photo" class="foto-articulo">
                <h3>Macetas de animal</h3>
                <h3>Precio: $0.00</h3>
                <button class="button-comprar">Comprar</button>
            </article>
    
            <article class="articulo-en-venta">
                <img src="IMG/ceramica-2.jpg" alt="Insert photo" class="foto-articulo">
                <h3>Jarrones Amarillos</h3>
                <h3>Precio: $0.00</h3>
                <button class="button-comprar">Comprar</button>
            </article>
    
            <article class="articulo-en-venta">
                <img src="IMG/ceramica-7.jpg" alt="Insert photo" class="foto-articulo">
                <h3>Titulo de la obra</h3>
                <h3>Precio: $0.00</h3>
                <button class="button-comprar">Comprar</button>
            </article>
    
            <article class="articulo-en-venta">
                <img src="IMG/ceramica-8.jpg" alt="Insert photo" class="foto-articulo">
                <h3>Titulo de la obra</h3>
                <h3>Precio: $0.00</h3>
                <button class="button-comprar">Comprar</button>
            </article>
    
            <article class="articulo-en-venta">
                <img src="IMG/ceramica-10.jpg" alt="Insert photo" class="foto-articulo">
                <h3>Titulo de la obra</h3>
                <h3>Precio: $0.00</h3>
                <button class="button-comprar">Comprar</button>
            </article>
    
            <article class="articulo-en-venta">
                <img src="IMG/ceramica-11.jpg" alt="Insert photo" class="foto-articulo">
                <h3>Titulo de la obra</h3>
                <h3>Precio: $0.00</h3>
                <button class="button-comprar">Comprar</button>
            </article>
        </section>
    {%endblock%}