{%extends 'base/base.html' %}

{%block title%}Fotografía{%endblock%}

{%block content%}
        <section class="container-slider">
            <section class="container-fotografias">
                <input type="radio" name="slider" id="item-1" checked>
                <input type="radio" name="slider" id="item-2">
                <input type="radio" name="slider" id="item-3">
                <input type="radio" name="slider" id="item-4">
                <input type="radio" name="slider" id="item-5">
                <input type="radio" name="slider" id="item-6">
                <input type="radio" name="slider" id="item-7">
                <input type="radio" name="slider" id="item-8">
                <input type="radio" name="slider" id="item-9">
                <input type="radio" name="slider" id="item-10">

                <section class="fotografias">
                    <label for="item-1" class="fotografia" id="selector-1">
                        <span style="--i:1"><img src="IMG/fotografia-1.webp" alt="">
                            <div class="capa">
                                <ul>
                                    <li><h2>Pug</h2></li>
                                    <li><h3>$200.00</h3></li>
                                    <li><button class="comprarbutton">Comprar</button></li>
                                </ul>  
                            </div>
                        </span>
                    </label>
                    <label for="item-2" class="fotografia" id="selector-2">
                        <span style="--i:2"><img src="IMG/fotografia-2.webp" alt="">
                            <div class="capa">
                                <ul>
                                    <li><h2>Rosas</h2></li>
                                    <li><h3>$450.00</h3></li>
                                    <li><button class="comprarbutton">Comprar</button></li>
                                </ul>  
                            </div>
                        </span>
                    </label>
                    <label for="item-3" class="fotografia" id="selector-3">
                        <span style="--i:3"><img src="IMG/fotografia-3.jpg" alt="">
                            <div class="capa">
                                <ul>
                                    <li><h2>Patitos</h2></li>
                                    <li><h3>$825.00</h3></li>
                                    <li><button class="comprarbutton">Comprar</button></li>
                                </ul>  
                            </div>
                        </span>
                    </label>
                    <label for="item-4" class="fotografia" id="selector-4">
                        <span style="--i:4"><img src="IMG/fotografia-4.webp" alt="">
                            <div class="capa">
                                <ul>
                                    <li><h2>Carro</h2></li>
                                    <li><h3>$740.00</h3></li>
                                    <li><button class="comprarbutton">Comprar</button></li>
                                </ul>  
                            </div>
                        </span>
                    </label>
                    <label for="item-5" class="fotografia" id="selector-5">
                        <span style="--i:5"><img src="IMG/fotografia-5.webp" alt="">
                            <div class="capa">
                                <ul>
                                    <li><h2>Lilas</h2></li>
                                    <li><h3>$360.00</h3></li>
                                    <li><button class="comprarbutton">Comprar</button></li>
                                </ul>  
                            </div>
                        </span>
                    </label>
                    <label for="item-6" class="fotografia" id="selector-6">
                        <span style="--i:6"><img src="IMG/fotografia-6.webp" alt="">
                            <div class="capa">
                                <ul>
                                    <li><h2>Joven</h2></li>
                                    <li><h3>$942.00</h3></li>
                                    <li><button class="comprarbutton">Comprar</button></li>
                                </ul>  
                            </div>
                        </span>
                    </label>
                    <label for="item-7" class="fotografia" id="selector-7">
                        <span style="--i:7"><img src="IMG/fotografia-7.webp" alt="">
                            <div class="capa">
                                <ul>
                                    <li><h2>Edificio</h2></li>
                                    <li><h3>$138.00</h3></li>
                                    <li><button class="comprarbutton">Comprar</button></li>
                                </ul>  
                            </div>
                        </span>
                    </label>
                    <label for="item-8" class="fotografia" id="selector-8">
                        <span style="--i:8"><img src="IMG/fotografia-8.webp" alt="">
                            <div class="capa">
                                <ul>
                                    <li><h2>Amanecer</h2></li>
                                    <li><h3>$547.00</h3></li>
                                    <li><button class="comprarbutton">Comprar</button></li>
                                </ul>  
                            </div>
                        </span>
                    </label>
                    <label for="item-9" class="fotografia" id="selector-9">
                        <span style="--i:9"><img src="IMG/fotografia-9.webp" alt="">
                            <div class="capa">
                                <ul>
                                    <li><h2>Sakura</h2></li>
                                    <li><h3>$143.00</h3></li>
                                    <li><button class="comprarbutton">Comprar</button></li>
                                </ul>  
                            </div>
                        </span>
                    </label>
                    <label for="item-10" class="fotografia" id="selector-10">
                        <span style="--i:10"><img src="IMG/fotografia-10.jpg" alt="">
                            <div class="capa">
                                <ul>
                                    <li><h2>Nieve</h2></li>
                                    <li><h3>$496.00</h3></li>
                                    <li><button class="comprarbutton">Comprar</button></li>
                                </ul>  
                            </div>
                        </span>
                    </label>
                </section>
            </section>
        </section>
{%endblock%}