{%extends 'base/base.html' %}

{%block title%}Galeria{%endblock%}

{%block content%}
        <section class="containergaleria">
            <figure class="botongaleria">
                    <img src="IMG/fotocamara1.jpg" alt="FotoFotografia">
                    <div class="capa"><a href="fotografia.html"><h3>Fotografía</h3></a></div>
            </figure>
            <figure class="botongaleria">
                    <img src="IMG/fotoceramica1.jpg" alt="FotoCeramica">
                    <div class="capa"><a href="ceramica.html"><h3>Cerámica</h3></a></div>
            </figure>
            <figure class="botongaleria">
                    <img src="IMG/fotopintura1.jpg" alt="FotoPintura">
                    <div class="capa"><a href="pinturas.html"><h3>Pintura</h3></a></div>
            </figure>
            <figure class="botongaleria">
                    <img src="IMG/fotoilustracion1.jpg" alt="FotoIlustracion">
                    <div class="capa"><a href="ilustracion.html"><h3>Ilustración</h3></a></div>
            </figure>
            <figure class="botongaleria">
                <img src="IMG/fotoescultura1.jpg" alt="FotoEscultura">
                <div class="capa"><a href="#"><h3>Escultura</h3></a></div>
            </figure>
            <figure class="botongaleria">
                <img src="IMG/fotostickers.jpg" alt="FotoStickers">
                <div class="capa"><a href="stickers.html"><h3>Stickers</h3></a></div>
            </figure>
        </section>
{%endblock%}