{%extends 'base/base.html' %}

{%block title%}Ilustración{%endblock%}

{%block content%}
        <section class="container-ilustraciones">
            <figure class="ilustracion">
                <img src="IMG/ilustracion-1.png" alt="">
                    <div class="capa">
                        <ul>
                            <li><h2>Conejo</h2></li>
                            <li><h3>$496.00</h3></li>
                            <li><button class="comprarbutton">Comprar</button></li>
                        </ul>  
                    </div>
            </figure>
            <figure class="ilustracion">
                <img src="IMG/ilustracion-2.jpg" alt="">
                    <div class="capa">
                        <ul>
                            <li><h2>Anime Girl</h2></li>
                            <li><h3>$895.00</h3></li>
                            <li><button class="comprarbutton">Comprar</button></li>
                        </ul>  
                    </div>
            </figure>
            <figure class="ilustracion">
                <img src="IMG/ilustracion-3.jpg" alt="">
                    <div class="capa">
                        <ul>
                            <li><h2>Llama</h2></li>
                            <li><h3>$478.00</h3></li>
                            <li><button class="comprarbutton">Comprar</button></li>
                        </ul>  
                    </div>
            </figure>
            <figure class="ilustracion">
                <img src="IMG/ilustracion-4.webp" alt="">
                    <div class="capa">
                        <ul>
                            <li><h2>Palerma</h2></li>
                            <li><h3>$1566.00</h3></li>
                            <li><button class="comprarbutton">Comprar</button></li>
                        </ul>  
                    </div>
            </figure>
            <figure class="ilustracion">
                <img src="IMG/ilustracion-5.webp" alt="">
                    <div class="capa">
                        <ul>
                            <li><h2>Bubble tea</h2></li>
                            <li><h3>$687.00</h3></li>
                            <li><button class="comprarbutton">Comprar</button></li>
                        </ul>  
                    </div>
            </figure>
            <figure class="ilustracion">
                <img src="IMG/ilustracion-6.webp" alt="">
                    <div class="capa">
                        <ul>
                            <li><h2>Paisaje</h2></li>
                            <li><h3>$513.00</h3></li>
                            <li><button class="comprarbutton">Comprar</button></li>
                        </ul>  
                    </div>
            </figure>
            <figure class="ilustracion">
                <img src="IMG/ilustracion-7.png" alt="">
                    <div class="capa">
                        <ul>
                            <li><h2>Flores</h2></li>
                            <li><h3>$935.00</h3></li>
                            <li><button class="comprarbutton">Comprar</button></li>
                        </ul>  
                    </div>
            </figure>
            <figure class="ilustracion">
                <img src="IMG/ilustracion-8.jpg" alt="">
                    <div class="capa">
                        <ul>
                            <li><h2>City anime</h2></li>
                            <li><h3>$635.00</h3></li>
                            <li><button class="comprarbutton">Comprar</button></li>
                        </ul>  
                    </div>
            </figure>
                <figure class="ilustracion">
                    <img src="IMG/ilustracion-9.jpg" alt="">
                    <div class="capa">
                        <ul>
                            <li><h2>Retro Wave</h2></li>
                            <li><h3>$742.00</h3></li>
                            <li><button class="comprarbutton">Comprar</button></li>
                        </ul>  
                    </div>
                </figure>
                <figure class="ilustracion">
                    <img src="IMG/ilustracion-10.jpg" alt="">
                    <div class="capa">
                        <ul>
                            <li><h2>Gato negro</h2></li>
                            <li><h3>$953.00</h3></li>
                            <li><button class="comprarbutton">Comprar</button></li>
                        </ul>  
                    </div>
                </figure>
        </section>
   {%endblock%}