{%extends 'base/base.html' %}

{%block title%}Login{%endblock%}

{%block content%}
        <form action="/login" class="form">
            <h1>LOGIN</h1>
            <div class="grupo">
             <input type="email" name="email" class="box" placeholder=""><span class="barra"></span>
             <label for="email">Ingresar email</label>
            </div>
            <div class="grupo">
             <input type="password" name="password" class="box" placeholder=""><span class="barra"></span>
             <label for="password">Ingresar contraseña</label>
            </div>
            <div class="grupo">
                <a href="crearusuario.html" id="crearusuario">Crear usuario</a>
            </div>
            <input type="submit" value="LOGIN" id="submit">
        </form>
    {%endblock%}