{%extends 'base/base.html' %}

{%block title%}Mis obras{%endblock%}

{%block content%}
        <div style="display: flex;">
            <label style="padding: 5px;">Ver obras: </label>
            <select id="categorias-de-publicacion">
                <option value="todas" selected>Todas</option>
                <option value="publicadas">Publicadas</option>
                <option value="archivadas">Archivadas</option>
              </select>
            </div>
            <div id="indicador">indicador</div>
        <section class="container-misobras" id="container-misobras">
            <figure class="agregarobra">
                <a href="subirobras.html">Agregar</a>
            </figure>
            <figure class="obra" id="obra">
                <img id="imagenobra" src="#" alt="">
                    <div class="capa" id="capa">
                        <ul>
                            <li><h2 id="tituloobra">Naturaleza muerta</h2></li>
                            <li><h3 id="precioobra">$496.00</h3></li>
                            <li><button class="eliminarbutton">Eliminar</button></li>
                            <li><button class="editarbutton">Editar</button></li>
                        </ul>  
                    </div>
                    <input type="hidden" name="obra_id" class="obra_id">
            </figure>
        </section>
     {%endblock%}