{%extends 'base/base.html' %}

{%block title%}Pinturas{%endblock%}

{%block content%}
        <section class="container-pinturas" id="container-pinturas">
            <figure class="pintura" id="pintura">
                <img id="imagenpintura" src="IMG/pintura-1.jpg" alt="">
                    <div class="capa" id="capa">
                        <ul>
                            <li><h2 id="titulopintura">Naturaleza muerta</h2></li>
                            <li><h3 id="preciopintura">$496.00</h3></li>
                            <li><button class="comprarbutton">Comprar</button></li>
                        </ul>  
                    </div>
            </figure>
        </section>
{%endblock%}