{%extends 'base/base.html' %}

{%block title%}Stickers{%endblock%}

{%block content%}
        <section class="container-stickers" id="container-stickers">
            <figure class="sticker" id = "sticker">
                <img class="imagensticker" id="imagensticker" src="#" alt="">
                    <div class="capa" id="capa">
                        <ul>
                            <li><h2 id="nombresticker" class="nombresticker">Conejo</h2></li>
                            <li><h3 id="preciosticker" class="preciosticker">$496.00</h3></li>
                            <li><button class="comprarbutton">Comprar</button></li>
                        </ul>  
                    </div>
            </figure>
        </section>
    {%endblock%}