{%extends 'base/base.html' %}

{%block title%}Subir Obra{%endblock%}

{%block content%}
        <form action="" class="form" id="formulario">
            <h1 class="formTitulo" id="formTitulo">Subir obra</h1>
            <div class="grupo">
                <input type="textarea" id="nombreobra" class="box" placeholder=""><span class="barra"></span>
                <label for="nombreobra">Nombre de la obra</label>
            </div>
            <div class="grupo">
                <input type="textarea" id="artista" class="box" placeholder=""><span class="barra"></span>
                <label for="artista">Artista</label>
            </div>
            <div class="grupo">
                <select name="categoriaobra" id="categoriaobra">
                    <option value="">Selecciona una categoría</option>
                            <option value="ceramica">Cerámica</option>
                            <option value="pintura">Pintura</option>
                            <option value="fotografia">Fotografía</option>
                            <option value="stickers">Stickers</option>
                            <option value="ilustracion">Ilustración</option>
                </select><span class="barra"></span>
            </div>
            <div class="grupo">
                    <select name="imagen" id="imagen">
                        <option value="">Selecciona una imagen</option>
                    </select><span class="barra"></span>
            </div>
            <div class="grupo">
                <input type="number" id="precioobra" name="precioobra" class="box" placeholder="" step="0.01"><span class="barra"></span>
                <label for="precioobra">Precio de la obra</label>
            </div>
            <input type="hidden" name="obra_id" class="obra_id">
            <input type="submit" value="SUBIR" id="crear">
        </form>
 {%endblock%}