.container {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.obra {
    max-width: 300px;
    min-width: 200px;
}
#imagen-obra{
    max-width: 270px;
    min-width: 250px;
    max-height: 270px;
    min-height: 250px;
}